.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
}

/* left */
.container-left {
    align-items: center;
    flex-direction: column;
    margin-left: 2rem;
    width: 50%;
    margin-top: 10%;
}

.title {
    font-size: 1.5rem;
    text-align: center;
}

.icon-primary {
    width: 100%;
}

/* right */
.container-right {
    align-items: center;
    flex-direction: column;
    width: 50%;
    display: flex;
    justify-content: center;
}

.content-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.icon {
    margin-right: 30px;
}

.nosotros,
.redes,
.seguridad,
.energia,
.telecomunicaciones,
.contactanos,
.clientes,
.trabajamos {
    width: 80px;
}

.information {
    font-size: 20px;
}

@media only screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
        margin-top: 40%;
    }

    .container-left {
        width: 100%;
        margin: 10% 0;
    }
    .container-imagen{
        display: flex;
        justify-content: center;
    }
    .icon-primary {
        width: 50%;
    }

    .container-right {
        width: 100%;
    }

    .title {
        margin-left: 2rem;
    }
}
